.mainpanel {
    .login-register {
        padding-top: 20px;
        background-color:blue;
        .input-group {
            background-color: green;
            color: pink;
            padding-top: 30px;
        }
     }
}
