.mainpanel {

    .login-register {
        padding-top: 20px;
        background-color:rgb(100, 100, 224);
        
        .input-group {
            background-color: rgb(82, 146, 82);
            color: pink;
            padding-top: 30px;
        }
     }
}
