<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Shop</title>
        <meta charset="utf-8">
        <META HTTP-EQUIV="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Wróblewski Piotr - My Shop">
        <meta name="author" content="Wróblewski Piotr">
        <meta property="og:title" content="Wróblewski Piotr - My Shop">
        <meta property="og:image" content="https://wroblewskipiotr.pl/blackboard/icon.png">
        <meta property="og:description" content="Wróblewski Piotr - My Shop">
        <link rel="icon" href="icon.ico">
        <link rel="stylesheet" href="css/mainstyle.css">
    </head>
    <body>
        <h2>This is my shop!</h2>
        
        <script src="js/mainscript.js"></script>
    </body>
</html>
